mixin pagination(objectPagination)
  nav
    ul.pagination
      if(objectPagination.currentPage > 1)
        li(class="page-item")
          button(
            class="page-link"
            button-pagination=1
          ) First Page
        li(class="page-item")
          button(
            class="page-link"
            button-pagination=objectPagination.currentPage - 1
          ) Previous Page
          
      if(objectPagination.currentPage > 2 && objectPagination.totalPage > 3)
        li(class="page-item")
          button(class="page-link") ...
      
      if(objectPagination.totalPage >= 1 && objectPagination.totalPage <= 3)
        - for(var i = 1; i <= objectPagination.totalPage; i++)
            li(class=`page-item ${objectPagination.currentPage == i ? "active" : ""}`)
              button(class="page-link" button-pagination=i) #{i}
      else if(objectPagination.totalPage > 3)
        if(objectPagination.currentPage == 1)
          - for(var i = objectPagination.currentPage; i <= objectPagination.currentPage + 2; i++)
              li(class=`page-item ${objectPagination.currentPage == i ? "active" : ""}`)
                button(class="page-link" button-pagination=i) #{i}
        
        else if(objectPagination.currentPage == objectPagination.totalPage)
          - for(var i = objectPagination.currentPage - 2; i <= objectPagination.currentPage; i++)
              li(class=`page-item ${objectPagination.currentPage == i ? "active" : ""}`)
                button(class="page-link" button-pagination=i) #{i}
        
        else 
          - for(var i = objectPagination.currentPage - 1; i <= objectPagination.currentPage + 1; i++)
              li(class=`page-item ${objectPagination.currentPage == i ? "active" : ""}`)
                button(class="page-link" button-pagination=i) #{i}

      if(objectPagination.currentPage < objectPagination.totalPage - 1 && objectPagination.totalPage > 3)
        li(class="page-item")
          button(class="page-link") ...
      
      if(objectPagination.currentPage < objectPagination.totalPage)
        li(class="page-item")
          button(
            class="page-link"
            button-pagination=objectPagination.currentPage + 1
          ) Next Page
        li(class="page-item")
          button(
            class="page-link"
            button-pagination=objectPagination.totalPage
          ) Last Page